body {
    background-color: #020405;
    font-family: Catamaran;
    color: #333;
    font-size: 16px;
    line-height: 28px;
  }

  .banner {
    position: fixed;
  }

  .openKastBtn {
    position: fixed;
    display: flex;
    float: right;
    
  }

  .navButton {
    background-color:lightgray 20%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: fixed;
    display: flex;
    flex-direction: row;
    display: inline-block;
    background-color: gray;
    z-index: 1;
    
  }

  .navBtnContent {
    display: none;
    position: absolute;
    background-color: lightgray 20%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .navBtnContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .navBtnContent a:hover {background-color: lightgray;}

  .navButton:hover .navBtnContent {display: block;}

  .dropdown:hover .navButton {background-color:lightgray;}

  .purpleSection {
    background-image: url(./assets/gradient-violet-bg.jpg)
  }
.laptop {
  position: static;
  display: flex;
  align-items:center



